<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    html{
      background-color:#f9fd6e;
      color:#f0861b;
      text-align:center;
      font-size:3em;
    }
  </style>
  <body>
    <h1>Your Link is:</h1>
    <a href=<%=link%>><%=link%></a>
  </body>
</html>
